<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculando Páginas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="cabecalho">
    <h1>Bem Vindo(a), leitor(a)</h1>
    <ul>
      <li>Pegue um livro e informe abaixo a quantidade de páginas dele.</li>
      <li>Abra em uma página preferencialmente uma que contenha texto do ínicio ao fim, semelhante à figura abaixo</li>
      <li>Feito isso clique no botão <strong>Iniciar</strong> e faça a leitura</li>
      <li>Após finalizar clique em <strong>Parar</strong>.</li>
    </ul>

    <img src="../../assets/image/livro.png" alt="">
  </div>
  <div id="form">
    <ion-input placeholder="Informe a quantidade de páginas" type="number" [(ngModel)]="quantidadePaginas" ></ion-input>
    <ion-button *ngIf="cronIniciado === false && resultado === null" expand="block" shape="round" (click)="start()">Iniciar</ion-button>
    <ion-button *ngIf="cronIniciado === true" color="danger" expand="block" shape="round" (click)="stop()">Parar</ion-button>
    <ion-button *ngIf="cronIniciado === false && resultado !== null" expand="block" shape="round" color="warning" (click)="reiniciar()">Reiniciar</ion-button>
  </div>

  <div id="timer" *ngIf="cronIniciado === true">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Clock-with-one-second-time-counter-animated.gif" alt="" srcset="">
   <ion-label id="mostrarTempo">{{tempo}}</ion-label>
  </div>

  <div id="resultado" *ngIf="cronIniciado === false && resultado !== null">
    <br>
    <ion-label>Tempo estimado para concluir o livro</ion-label><p>
      <ion-label>hh:mm:ss</ion-label><p>
        <ion-label id="res">{{resultado}}</ion-label><p>
  </div>
  <p>Aplicativo desenvolvido por <br> Wellison Silva - 2022 <br><br> Images by wikimedia Commons</p>
</ion-content>
