<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculando Páginas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h1>Bem Vindo(a),leitor(a)</h1>
    <ul>
      <li>Pegue um livro e informe abaixo a quantidade de páginas dele.</li>
      <li>Abra em uma página preferencialmente uma que contenha texto do ínicio ao fim, semelhante à figura abaixo</li>
      <li>Feito isso clique no botão <strong>Iniciar</strong> e faça a leitura</li>
      <li>Após finalizar clique em <strong>Parar</strong>.</li>
    </ul>

    <img src="../../assets/image/livro.png" alt="">
  </div>
  <div>
    <ion-input></ion-input>
  </div>
</ion-content>
